@model ScheduleManager;
@*
@{
// Retrieve the array from ViewData
string[] programs = ViewData["programs"] as string[];
} *@

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="top">
      <img src="\lib\images\nscc-logo.jpg" alt="nscc-logo" width="200px" class="d-inline-block ms-3">
    </a>
    @* <div>
    <span id="lblExpire" class="text-warning" style="margin-left:10px">WARNING: You're session is about
    to expire</span>
    </div> *@
    <form method="post">
      <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Logout">
        Logout
      </button>
    </form>
  </div>
</nav>

<div class="p-5 text-white">
  <h1>Add Course</h1>
  <div style="margin-bottom:10px" class="fs-5">Enter the new Course data below:</div>

  <form method="post">

    <div class="mb-4">
      <label class="pb-2">Program Name: auto displays the course name the clicked add couse on and the year. </label>
      <input type="text" class="form-control"/>
    </div>

    <div class="mb-4">
      <label class="pb-2">Couse Code:</label>
      <input type="text" class="form-control" maxlength="10" />
    </div>

    <div class="mb-4">
      <label class="pb-2">Couse Name:</label>
      <input type="text" class="form-control" maxlength="60" />
    </div>

    <div class="mb-4">
      <label class="pb-2">Course Total Hours: This will be a drop down to select either 60hours or 90hours for the course total hours</label>
      <input type="text" class="form-control" maxlength="2" />
    </div>

    <div class="mb-4">
      <label class="pb-2">Course Professor: this will be a drop down to select the professor</label>
      <input type="text" class="form-control" maxlength="60" />
    </div>

    <div class="mb-4">
      <input type="submit" asp-controller="Admin" asp-action="AddCourseSubmit" class="btn btn-warning"
        value="Add" />
      <a asp-controller="Admin" asp-action="Index"><input type="button" class="btn btn-warning"
          value="Cancel" /></a>
    </div>

  </form>