@model ScheduleManager;

@{
  // Retrieve the array from ViewData
  string[] programs = ViewData["programs"] as string[];
}

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="top">
      <img src="\lib\images\nscc-logo.jpg" alt="nscc-logo" width="200px" class="d-inline-block ms-3">
    </a>
    @* <div>
    <span id="lblExpire" class="text-warning" style="margin-left:10px">WARNING: You're session is about
    to expire</span>
    </div> *@
    <form method="post">
      <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Logout">
        Logout
      </button>
    </form>
  </div>
</nav>

<div class="col text-white">

  <form method="post">
    <div class="flex ms-4">
      <span class="fs-2">Programs</span>

      <button type="submit" class="btn p-0" asp-controller="Admin" asp-action="Add">
        <i class="fa fa-plus bg-warning p-2 rounded ms-1 mb-2"></i>
      </button>
    </div>
  </form>

  <div class="border-top pt-2 mt-2">

    <div class="ms-4">
      @foreach (var program in programs)
      {
        <form method="post">
          <div class="flex">
            <button type="submit" class="btn p-1" asp-controller="Admin" asp-action="Delete" asp-route-id="">
              <i class="fa fa-trash bg-warning p-2 rounded"></i>
            </button>
            <button type="submit" class="btn p-0" asp-controller="Admin" asp-action="Update" asp-route-id="">
              <i class="fa fa-pencil bg-warning p-2 rounded"></i>
            </button>
            <span class="ms-4">@program</span>
            <a href="admin/courses"><span> | Add Course </span></a>
          </div>
        </form>
      }
    </div>
  </div>


  @section scripts {
    <script src="~/js/app.js"></script>
  }