@model ScheduleManager;

<form method="post">
  <button type="submit" class="btn btn-warning p-1 m-3" asp-controller="Admin" asp-action="Logout"> Logout
  </button>
</form>
@section Scripts {
  <script>startAutoLogout();</script>
}