@model TechnologyModel;

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="\lib\images\nscc-logo.jpg" alt="nscc-logo" width="200px" class="d-inline-block ms-3">
    </a>
    <div>
      <span id="lblExpire" class="text-warning" style="margin-left:10px"></span>
    </div>
    <div class="d-flex flex-row">
      <form method="post">
        <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Index">
          Dashboard
        </button>
      </form>

      <form method="post">
        <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Logout">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="p-5 text-white">
  <h1>Add Technology.</h1>
  <div style="margin-bottom:10px" class="fs-5">Enter the new Technology below:</div>

  <form method="post">
    <div class="mb-4">
      <label class="pb-2">Technology Name:</label>
      <input type="text" asp-for="@Model.Description" class="form-control" maxlength="20" />
      <span asp-validation-for="@Model.Description" class="text-danger" />
    </div>

    <div class="mb-4">
      <input type="submit" asp-controller="Technology" asp-action="AddSubmit" class="btn btn-warning"
        value="Add" />
      <a href="/Technology/Index" class="btn btn-warning">Cancel</a>
    </div>
  </form>
</div>

@section scripts {
  <script>startAutoLogout();</script>
}